*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-primary-400: #243f50;
  --clr-primary-500: #2f4e60;
  --clr-primary-600: #7babc8;
  --clr-primary-700: #a3c8e0;

  --clr-neutral-400: #f0e9e7;

  /* 13px 16px 18px 22px 24px 34px 50px 66px 72px*/
  --fs-100: .8rem; 
  --fs-200: 1rem; 
  --fs-300: 1.125rem; 
  --fs-400: 1.375rem;
  --fs-500: 1.5rem;
  --fs-600: 2.125rem;
  --fs-700: 3.125rem;
  --fs-800: 4.125rem;
  --fs-900: 4.5rem;

  --ff-primary: 'Montserrat', sans-serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  background-color: #fff;
  color: var(--clr-primary-400);
}

/* ======> Container <====== */
.container {
  width: 93%;
  margin: 0 auto;
}

@media only screen and (min-width: 62em) {
  .container {
    width: 90%;
  }
}

/* ======> Button <====== */
.btn {
  display: inline-block;
  background-color: var(--clr-primary-400);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--fs-100);
  letter-spacing: 1.5px;
  color: #fff;
  padding: 1.2em 4.5em; 
  border-radius: 2rem;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: var(--clr-primary-400);
}

header {
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  cursor: pointer;
}

@media only screen and (min-width: 62em) {
  .hamburger {
    display: none;
  }
}

.reel-logo {
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 62em) {
  .reel-logo {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    width: 6rem;
  }
}

nav {
  display: none;
}

@media only screen and (min-width: 62em) {
  nav {
    display: block;
    margin-right: auto;
    margin-left: 3em;
  }
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li a {
  color: var(--clr-primary-400);
  font-weight: 500;
  font-size: var(--fs-400);
}

nav ul li a:hover,
nav ul li a:focus {
  text-decoration: underline var(--clr-primary-400) 3px;
}

nav ul li a i {
  font-size: 1rem;
  margin-left: .5em;
}

.cart {
  color: var(--clr-primary-400);
  font-size: var(--fs-300);
  font-weight: 600;
  padding: .4em 1.2em;
  border: 3px solid var(--clr-primary-400);
  border-radius: 1.5rem;
}

.cart:hover,
.cart:focus {
  background-color: var(--clr-primary-400);
  color: #fff;
}

.user {
  width: 2.7rem;
  margin-left: 1em;
  cursor: pointer;
  display: none;
}

.user:hover,
.user:focus {
  opacity: 75%;
}

@media only screen and (min-width: 62em) {
  .user {
    display: block;
  }
}

.hero {
  background-image: url('/img/hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .hero {
    background-image: url('/img/hero-bg.jpg');
    text-align: unset;
  }
}

.hero .container {
  padding: 3em 3em 27em;
}

@media only screen and (min-width: 62em) {
  .hero .container {
    padding: 4.5em 0 21em;
  }
}

.hero-heading {
  font-size: var(--fs-600);
  line-height: 1.2;
}

@media only screen and (min-width: 48em) {
  .hero-heading {
    font-size: var(--fs-700);
    width: 50%;
  }
}

@media only screen and (min-width: 62em) {
  .hero-heading {
    font-size: var(--fs-800);
  }
}

.hero-body {
  font-size: var(--fs-400);
  margin-top: .5em;
}

@media only screen and (min-width: 62em) {
  .hero-body {
    font-size: var(--fs-500);
  }
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

@media only screen and (min-width: 48em) {
  .hero-buttons {
    align-items: flex-start;
    margin-top: 2em;
  }
}